<html>
    <head>
        <style>
        .header {
            padding: 60px;
            text-align: center;
	    font-size: 200px;}
	h1 { color:'black'; font-size: 150px; font-weight: bold; letter-spacing: -1px; line-height: 1; text-align: center;}
	</style>
    </head>
    <body>
        <header class='header'>
            <h1>Statistics of Observed Squirrels in Central Park</h1>
        </header>


        <main>
        	<p>In total, there are {{total}} observed squirrels in Central Park in this data set
		<br>
      		<li>The minimum observed latitude is {{lattitude.minimum}}</li>
      		<li>The maximum observed latitude is {{lattitude.maximum}}</li>
      		<br>
      		<li>The minimum observed longitude is {{longitude.minimum}}</li>
      		<li>The maximum observed longitude is {{longitude.maximum}}</li>
      		<br>
      		<li>Shift: {{shift}}</li>
      		<br>
		<li>There are {{age}} adult squirrels observed</li></p>
    	</main>
    </body>
</html>
