{% extends 'squirrel/base.html' %}

{% load static %}

{% block title %}Statistics of Observed Squirrels in Central Park{% endblock %}

{% block main %}
  <div class="album py-5 bg-light">
    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <div>
            <div class="card mb-3 shadow-sm">
            </div>
          </div>
        </div>
        <div class="col-md-8">
          <div class="card mb-8 shadow-sm">
            <div class="card-body">
              <p class="card-text">
	      <style> h1 {font-weight: bold; font-size: 20px; text-align: center;} </style>
	      <h1> Statistics of Observed Squirrels in Central Park </h1>
	      	<br>
	        <li>In total, there are {{total}} unique squirrel sightings in Central Park in this data set</li>
		<br>
		<li>The earliest recorded sighting occurred on {{first.minimum}}</li>
		<br>
      		<li>The minimum observed latitude is {{latitude.minimum}}</li>
      		<li>The maximum observed latitude is {{latitude.maximum}}</li>
      		<br>
      		<li>The minimum observed longitude is {{longitude.minimum}}</li>
      		<li>The maximum observed longitude is {{longitude.maximum}}</li>
      		<br>
		<li>{{am}} sightings were seen in the AM, and {{pm}} sightings were seen in the PM</li>
      		<br>
		<li>{{age}} of the squirrels appeared to be adults</li>
	      </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}

